<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div style=" display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <h3> Awaiting for payment - payment #{{payment_id}} </h3>
        <br>
        <p>Thank you for purchasing in our store.</p>
        <br>
        <p>Payment data:</p>
        <p>Lease id #{{lease_id}}</p>
        <p>Tenant id #{{tenant_id}}</p>
        <p>Rent amount  ${{rent_amount}}</p>
        <p>Payment request created at {{created_at}}</p>
        <a style=" padding: 1rem; border-radius: 0.5rem; font-size: 1rem; text-decoration: none; background: #0275d8; color: white;" href="{{payment_checkout_url}}">
            Go to payment website
        <a>
        <h4>THIS IS NOT PAYMENT CONFIRMATION EMAIL.</h4>
    </div>
</body>
</html>