<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div style=" display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <h3> Payment Confirmation - payment {{payment_id}} </h3>
        <br>
        <br>
        <p>Payment data:</p>
        <p>Lease id {{lease_id}}</p>
        <p>Tenant id {{tenant_id}}</p>
        <p>Rent amount  {{rent_amount}}</p>
        <p>Payment request created at {{created_at}}</p>

            <p>We have just received your payment.</p>
            <br>
            <p>Thank you for the rent payment! </p>
            <br>

    </div>
</body>
</html>